<div class="navbar-default sidebar" role="navigation" ng-if="$ctrl.isLoggedIn()">

<ul class ="nav nav-stacked">
  <li >
    <a ng-href="/search/find"><i class="fa fa-search"></i>Search
     </a>
  </li>
  <li >
    <a ng-href="/add/insert"><i class="fa fa-plus"></i>Add Idea
     </a>
  </li>
</ul>
<ul class="nav nav-stacked">
  <li ng-repeat="domainList in domainList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
    <a ng-href="/domain/{{domainList}}">
      {{domainList}}
    </a>
  </li>


  <ul uib-pagination direction-links="false"ng-model="currentPage" ng-change="setPage(currentPage)" boundary-links="true" total-items="totalItems" ng-model="currentPage"  items-per-page="itemsPerPage"></ul>

</ul>

</div>
