<header class="hero-unit" id="banner">
<div class="container">
<h3>Hunch App</h3>
</div>
</header>
<div class="container">
<div class="row">
<div class="col-md-4">
  Hello1
</div>

<div class="col-md-8">
  {{domainName}}
</div>

</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-4">
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
<ul class ="nav nav-pills nav-stacked">
  <li ng-repeat="domains in domains">
    <a ui-sref="mainDomin({domainName:  domains.name})" uib-tooltip="{{domains.name}}">
      <i class="fa fa-sitemap fa-fw"></i>{{domains.name}}
      <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
      <li ng-if="subDomains.domainId==domains.id" ng-repeat="subDomains in subDomains">
        <a href="#">{{subDomains.name}}
           <span class="fa arrow"></span>
         </a>
        <ul class="nav nav-third-level">
          <li ng-if="ideas.domainId==domains.id  && ideas.SubDomainId==subDomains.id" ng-repeat="ideas in ideas">
            <a href="#">
              {{ideas.title}}
            </a>
          </li>
        </ul>

      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
</ul>
</ul>
</div>
</div>
</div>
<div class="col-md-8">
{{domainName}}
</div>
</div>
</div>
