      <div>
        <div><br />
          <div class="row">
            <div class="col=md-3">
            <h3 ng-if="ideas !=null"> Recent Ideas </h3>
          </div>
          <div class="col=md-3">
        <p ng-if="ideas !=null">  View
          <select class="btn btn-default" ng-model="itemsPerPage" ng-change="setItemsPerPage(itemsPerPage,currentPage)">
            <option value=3>3</option>
            <option value=5 ng-selected="5">5</option>
            <option value=10>10</option>
            <option value=20>20</option>
            <option value=30>30</option>
          </select>
          records at a time. </p>

        </div>

          </div>
            <hr />
            <div ng-repeat="ideas in ideas">

              <div class="panel-group">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="pull-left"><small>Domain:{{ideas.domain}}</small></div>
                        <div class="pull-right"><small>Added by:{{ideas.uid}}</small></div>
                    <h3 class="panel-title" >

                  <center>   <a data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">  {{ideas.tittle}}</a> </center>


                  </h3>
                  <input type="hidden" ng-model="ideas._id">
                  <input type="hidden" ng-init="userName=$ctrl.getCurrentUser().name" ng-model="userName">
                  </div>

              <div uib-collapse="isCollapsed" class="panel-collapse collapse">
                <small>subDomain:{{ideas.subDomain}}</small>
                    <div class="panel-body">{{ideas.ibody}}</div>
<button class="btn btn-info" ng-click="likeButton(ideas._id)">  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{ideas.likes}} Likes </button>
                    <div class="panel-footer">
                      <div class="row">
                        <div ng-repeat="ideas in ideas.Comments"><p ng-if="ideas.body!=null">{{ideas.cuid}}:  {{ideas.body}} </p></div>
                        <div class="col-md-10">
                          <input type="text" id="commentBody" ng-model="comment"class="form-control"> </div>


                      <div class="col-md-2">

                         <button type="submit" ng-click="comments(ideas._id,comment,userName)">
                           comment
                         </button>
                       </div>
                       </div>

              </div>
            </div>

            </div>
          </div>
                        <hr />
            </div>
          </div>
          <ul ng-if="ideas!=null" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="setPage(currentPage,itemsPerPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>

      </div>
