//@import "bootstrap-sass/lib/bootstrap";
//$fa-font-path: "/bower_components/font-awesome/fonts";
//@import "font-awesome/scss/font-awesome";




.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
 border-bottom: none !important;
}
.nav-second-level li a {
 padding-left: 37px;
}
.nav-third-level li a {
 padding-left: 52px;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
