<!--<header class="hero-unit" id="banner"></header>-->
<div>
      <form role="form" class="bottom-75">
      <div class="row">
        <h3>Add Idea</h3>
          <div class="form-group col-lg-6">
        <!--  <input type="hidden"  ng-init="ids.name=$ctrl.getCurrentUser().name" ng-model="ids.name" >
          <input type="hidden"  ng-init="ids.email=$ctrl.getCurrentUser().email" ng-model="ids.email" >  -->
              <label>Domain Name</label><br />
              <input  class="form-control" list="DomainList" type="text" ng-change="subDomainlist(ids.domain)" ng-model="ids.domain" placeholder="Domain Name">

              <datalist id="DomainList">
                <option ng-repeat="domains in domains" value="{{domains}}"/>
              </datalist>


          </div>
          <div class="form-group col-lg-6">
              <label>Sub-Domain Name</label><br/>
              <input  class="form-control" list="subDomainList" type="text" ng-model="ids.subDomain" placeholder="Sub Domain Name">

              <datalist id="subDomainList">
                <option ng-repeat="subDomains in subDomains | unique: 'subDomain'" value="{{subDomains.subDomain}}"/>{{subDomains.subDomain}}
              </datalist>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-lg-6">
              <label>Idea</label>
              <br>
              <input  class="form-control" type="text" ng-model="ids.tittle" placeholder="Title" required>
              <br /><br />
              <textarea  class="form-control" rows="4" cols="50" ng-model="ids.ibody" placeholder="Enter your Ideas" required></textarea>
          </div><label>Select the users to send this idea</label>
          <select multiple style="width: 300px;height: 180px" size="5" ng-model="mail">
            <option  value="All">Send to All</option>
          <option ng-repeat="users in users" ng-if="users.name !== 'admin'" value="{{users.email}}">{{users.name}}</option>
        </select><br />
          <input type="button" id="select_all" name="select_all" value="Select All">




      </div>
      <button type="button" class="btn btn-default" ui-sref="main">Close</button>
      <button type="button" class="btn btn-primary" ng-click="submit(ids,mail)">Save changes</button>
    </form>



</div>
